{% extends "partials/layout.twig" %}

{% block title %}Homepage{% endblock %}

{% block jumbotron %}
	<h1>Hello, world! <span class="icon-adjust"></span></h1>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	<p>Sprite sample: <span class="sprite-example"></span></p>
	<p><a class="btn btn-primary btn-lg" href="second-page.html" role="button">Got to the second page &raquo;</a></p>
{% endblock %}

{% block content %}
	<div class="row">
		{% include "partials/simple-teaser-column.twig" %}
		{% include "partials/simple-teaser-column.twig" %}
		{% include "partials/simple-teaser-column.twig" %}
	</div>
{% endblock %}
